header {
  padding: $s 0;
  position: sticky;
  top: 0;
  z-index: 999;
  .container {
    @include flex(center, space-between, none);
    nav {
      a {
        margin: 0 $xl-2;
      }
    }
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.solid-header {
  border-bottom: 1px solid rgba($white, 0.2);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.transparent-header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.activeLink {
  position: relative;
  color: $indigo;
  &::after {
    content: "";
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $indigo;
  }
}

.hero-title {
  font-size: 2.5rem;
  text-align: center;
}

.sub-heading {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-content-icons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

@media screen and (max-width: 800px) {
  header {
    nav {
      display: none;
    }
    .openMenu {
      position: absolute;
      top: 110px;
      left: 0;
      width: 100%;
      height: 40vh;
      padding: 20px;
      backdrop-filter: blur(10px);
      display: flex;
      flex-direction: column;
      z-index: 999;
      a {
        width: 100%;
        display: block;
        display: flex;
        margin-bottom: 30px !important;
      }
    }
    .button-primary {
      display: none;
    }
  }
  .activeLink {
    &::after {
      display: none;
    }
  }
}

@media screen and (max-width: 950px) {
  .hero .hero-title {
    font-size: 5rem !important; /* Tamaño de fuente más pequeño en móviles */
  }

  .sub-heading {
    flex-direction: column; /* Cambiar a columna en móviles */
    align-items: center; /* Centrar los elementos */
  }

  .hero-content-icons {
    grid-template-columns: 1fr; /* Una columna en móviles */
  }

  .heading-title p {
    font-size: 0.9rem; /* Tamaño de fuente más pequeño para el párrafo */
    text-align: center; /* Centrar el texto */
  }
}
